@model IEnumerable<e_Commerce.Muebles.ModelFactories.CarritoCompleto>

@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Carrito</h1>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.producto.nombre</td>
                <td>@item.cantidad</td>
                <td>@item.producto.precio.ToString("C")</td>
                <td>@((item.cantidad * item.producto.precio).ToString("C2"))</td>
            </tr>
        }
    </tbody>
</table>
