@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4 text-center">
    <div class="image-container">
        <img src="img/Fondo e-co.jpg" alt="Fondo">
        <h1 class="text-overlay">Bienvenidos</h1>
    </div>
</div>
