@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4 text-center">
    <div class="image-container">
        <img src="img/Fondo e-co.jpg" alt="Fondo">
        <h1 class="text-overlay">Bienvenidos</h1>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
